/**
 * @description Scene styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */

.scene, .scene div {
    transform-style: preserve-3d;
    position       : absolute;
}

.scene {
    top      : 50%;
    left     : 50%;
    transform: rotateX(65deg) rotateZ(45deg);
}