/**
 * @description Styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */

:root {
    --primary-color   : #f2eff8;
    --background-color: #333;
}

body {
    margin          : 0;
    background-color: var(--background-color);
    color           : var(--primary-color);
}

.scene, .scene div {
    transform-style: preserve-3d;
    position       : absolute;
}

.scene {
    top      : 50%;
    left     : 50%;
    transform: rotateX(65deg) rotateZ(45deg);
}

.scene__cube {
    --cube-color : #f2eff8;
    --cube-width : 200px;
    --cube-height: 200px;
    --cube-depth : 200px;
}

.scene__cube {
    top : 50%;
    left: 50%;
}

.scene__cube-side {
    background-color: var(--cube-color);
}

.scene__cube-side--longitudinal {
    width           : var(--cube-height);
    height          : var(--cube-width);
    transform-origin: left center;
    transform       : rotateY(-90deg);
}

.scene__cube-side--longitudinal-back {
    background-color: color-mix(in display-p3, var(--cube-color) 60%, var(--background-color));
}

.scene__cube-side--longitudinal-front {
    transform       : rotateY(-90deg) translateZ(calc(-1 * var(--cube-depth)));
    background-color: color-mix(in display-p3, var(--cube-color) 50%, var(--background-color));
}

.scene__cube-side--lateral {
    width           : var(--cube-depth);
    height          : var(--cube-height);
    transform-origin: top center;
    transform       : rotateX(90deg);
}

.scene__cube-side--lateral-right {
    background-color: color-mix(in display-p3, var(--cube-color) 40%, var(--background-color));
}

.scene__cube-side--lateral-left {
    transform       : rotateX(90deg) translateZ(calc(-1 * var(--cube-width)));
    background-color: color-mix(in display-p3, var(--cube-color) 70%, var(--background-color));
}

.scene__cube-side--vertical {
    width : var(--cube-depth);
    height: var(--cube-width);
}

.scene__cube-side--vertical-top {
    transform       : translateZ(var(--cube-height));
    background-color: color-mix(in display-p3, var(--cube-color) 80%, var(--background-color));
}